<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./CSS/Index.css">
  <link rel="stylesheet" href="../../CSS/index.css">
  <title>Chat App</title>
  <script defer src="http://localhost:4500/socket.io/socket.io.js"></script>
  <script defer src="../Javascript/serverJS.js"></script>
</head>
<body>

    <div id="message-container"></div>
    <form action="" id="send-container">
        <input type="text" id="message-input">
        <button id="send-button">send</button>
    </form>
    
    
</body>
</html>